@import "tailwindcss";

.font-baumans {
    font-family: var(--font-baumans);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-inter {
    font-family: var(--font-inter);
}

.font-figtree {
    font-family: var(--font-figtree);
}


/* Our records */

@keyframes countSlide {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.count-slide {
    animation: countSlide 0.08s ease-out;
}


/* Testimonials */

.testimonial-track {
    display: flex;
    gap: 40px;
    width: max-content;
}

@media (min-width: 1024px) {
    .testimonial-track {
        animation: testimonial-scroll 20s linear infinite;
    }
}

@keyframes testimonial-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 20px));
    }
}


/* Hide scrollbar */

.scrollbar-hide {
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


/* Technology */

.Technology1-track {
    animation: technology-left 15s linear infinite;
}

.Technology2-track {
    animation: technology-right 15s linear infinite;
}

@keyframes technology-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes technology-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

/*Industries*/

@keyframes industries {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-industries {
    animation: industries 45s linear infinite;
    will-change: transform;
}