@import "tailwindcss";

.font-baumans {
    font-family: var(--font-baumans);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-inter {
    font-family: var(--font-inter);
}

.font-figtree {
    font-family: var(--font-figtree);
}




.testimonial-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: testimonial-scroll 20s linear infinite;
}

@keyframes testimonial-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 20px));
    }
}



.Technology1-track {
    animation: technology-left 15s linear infinite;
}

.Technology2-track {
    animation: technology-right 15s linear infinite;
}

@keyframes technology-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes technology-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}